.cardContainer {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    padding: 32px;
}

.buttonList {
    display: flex;
    gap: 24px;
}

.title {
    margin-top: 24px;
    display: flex;
    width: 596px;
    gap: 16px;
    flex-direction: column;
    font-family: 'Mulish';
    font-weight: 400;
}

.title h3 {
    font-size: 24px;
    color: var(--text-color);
}

.title h2 {
    font-size: 30px;
    color: var(--text-color);
}

@media (min-width: 325px) and (max-width: 435px) {
    .cardContainer {
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .title {
        text-align: center;
        margin-top: 10px;
        align-items: center;
        gap: 5px;
        width: 100%;
    }

    .title h3 {
        font-size: 16px;
        text-align: center;
    }

    .title h2 {
        font-size: 16px;
    }
}