.buttonList {
    margin-top: 30px;
    display: flex;
    gap: 32px;
    margin-bottom: 30px;
}

.buttonList a {
    background-color: var(--background-color);
    padding: 10px 21px 10px 21px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.buttonList a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

@media (min-width: 320px) and (max-width: 435px) {
    .buttonList {
        margin-top: 0px;
        width: 100%;
        flex-wrap: wrap;
    }
}