* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    --background-color: white;
    --text-color: black;

    background-color: var(--background-color)
}

body.dark {
    --background-color: black;
    --text-color: white;
}


input,
textarea {
    padding: 10px;

    border: 1px solid rgb(120, 120, 120);
    border-radius: 10px;
    background: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
}

.inputSize {
    width: 569px;
    height: 45px;
}

.textareaSize {
    width: 569px;
    height: 363px;
}

@media (min-width: 325px) and (max-width: 435px) {
    .inputSize {
        width: 100%;
    }

    .textareaSize {
        width: 100%;
    }
}

@font-face {
    font-family: 'DaMiOne';
    src: url('font/DaMiOne.ttf') format('truetype')
}