.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

@media (min-width: 325px) and (max-width: 435px) {
    .arrow {
        width: 30px;
        height: 30px;
    }
}